<li class="post-list__item">
		{%- if include.tool.icon -%}
		<div class="post-list__item-icon">
				<img src="{{ include.tool.icon | escape }}">
		</div>
		{%- endif -%}
		<div class="post-list__item-summary article-preview">
				<div class="article-preview__title">
						<a href="{{ include.tool.url | relative_url }}">{{ include.tool.title | escape }}</a>
				</div>

				{%- if site.minima.show_excerpts -%}
				<div class="article-preview__excerpt article-preview__excerpt--wrap">{{ include.tool.summary | strip_html }}</div>
				{%- endif -%}
		</div>


		{%- if include.show-download-button -%}
		<a class="post-list__item-actions button button--download" title="Download {{ include.tool.title }}" href="{{ include.tool.asset.url }}"><i class="fa-solid fa-download"></i> Download</a>
		{%- endif -%}
</li>
